@page "/weather"
@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates showing data.</p>

@if (forecasts == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <div id="dropdown" class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" @onclick="ToggleDropdown">
            @selectedSummary
        </button>
        <div class="dropdown-menu @(isOpen ? "show" : "")">
            @foreach (var item in summaryOptions)
            {
                <button class="dropdown-item" @onclick="() => SelectItem(item)">
                    @item
                </button>
            }
        </div>
    </div>
    <label>Selected Summary:</label>
    <p>@selectedSummary</p>
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var forecast in forecasts)
        {
            <tr>
                <td>@forecast.Date.ToShortDateString()</td>
                <td>@forecast.TemperatureC</td>
                <td>@forecast.TemperatureF</td>
                <td>@forecast.Summary</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[]? forecasts;

    private bool isOpen;

    private void ToggleDropdown() => isOpen = !isOpen;
    private string selectedSummary = string.Empty;

    private List<string> summaryOptions = [];

    protected override async Task OnInitializedAsync()
    {
        // Simulate asynchronous loading to demonstrate streaming rendering
        await Task.Delay(500);

        var startDate = DateOnly.FromDateTime(DateTime.Now);
        var summaries = new[] { "Freezing", "Bracing", "Chilly", "Cool", "Mild", "Warm", "Balmy", "Hot", "Sweltering", "Scorching" };
        forecasts = Enumerable.Range(1, 5).Select(index => new WeatherForecast
        {
            Date = startDate.AddDays(index),
            TemperatureC = Random.Shared.Next(-20, 55),
            Summary = summaries[Random.Shared.Next(summaries.Length)]
        }).ToArray();
        summaryOptions = forecasts.Select(x => x.Summary!).ToList();
    }

    private class WeatherForecast
    {
        public DateOnly Date { get; set; }
        public int TemperatureC { get; set; }
        public string? Summary { get; set; }
        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }

    private void SelectItem(string item)
    {
        selectedSummary = item;
        isOpen = false;
    }

}